{% extends "index.html" %}
{% block section %}
    <br>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <form name="frmIniciarSesion" id="frmIniciarSesion" method="POST" action="/iniciarSesion">
        <input type="hidden" name="accion" id="accion" value="IniciarSesion" />
        <table  class="table table-bordered w-50" align="center">
            <thead>
                <tr  class="bg-success text-white" align="center">
                    <th colspan="2"> INICIO DE SESIÓN</th>   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--<td>Login:</td>-->
                    <td><input type="text" name="txtLogin" id="txtLogin" style="font-size:xx-large"
                            class="form-control" autocomplete="off" required placeholder="Usuario" /></td>
                </tr>
                <tr>
                    <!--<td>Password:</td>-->
                    <td><input type="password" name="txtPassword" id="txtPassword" style="font-size:xx-large"
                            class="form-control" autocomplete="off" required placeholder="Contraseña"/></td>
                </tr>            
                <tr align="center">
                    <td colspan="2">               
                    
                            <input type="submit" value="Ingresar" name="btnIniciarSesionV" id="btnIniciarSesionV" 
                            class="btn btn-success btn-block"/>
                    
                    </td>
                </tr>           
            
            </tbody>
        </table>
        
    
    </form>
        
    <div id="mensaje" style="text-align: center">
        {{mensaje}}
    </div>
{% endblock %}



   
    



