{% extends "index.html" %}
{% block section %}
    <br><b>Pizzeria Opita</b> es una empresa nueva en la Ciudad de Neiva que ofrece una gran 
        variedad de pizzas a todos los opitas y residentes en la ciudad. 

    <br><br><b>Pilares de nuestros servicios y productos:</b>
    <ul>
        <li>Productos con ingredientes frescos y de alta calidad</li>
        <li>Repartidores del domicilio que son empleados de la Empresa</li>
        <li>Entrega oportuna en el servicio a domicilio con una duración que no supera los 30 minutos</li>
        <li></li>
    </ul>
{% endblock %}
   